body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    /* Los dos puntos "../" salen de 'CSS' para buscar 'Images' */
    background-image: url('../Images/fondo-biblioteca.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #1a1a1a; 
}

header {
    background-color: rgba(26, 53, 80, 0.9);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 50px 20px;
}

.cuadro-libro {
    background-color: white;
    width: 260px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cuadro-libro:hover {
    transform: translateY(-10px);
}

.cuadro-libro img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}